/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
